<h1 class='page-heder'> Overall Rankings </h1>

<ul class='main-list'>
    <% @questions.each do |question| %>
        <li><a href='<%=question_url(question.id)%>'><p><%= question.prompt%></p></a>
    <%end %>
</ul>