<h1 class = 'page-header'>User Profile</h1>

<p>
    Username: <%= current_user.username %><br>
    Email: <%= current_user.email %><br>
    My Rankings: 
    <ul> 
        <%@rankings.each do |ranking| %>
            <li><a href="<%= ranking_url(ranking)%>"><p><%=Question.find(ranking.question_id).prompt%></p></li>
        <%end%>
    </ul>
</p>
                